h1 {
    background-color: rgb(247, 243, 12);
    color: rgb(32, 31, 31);
    text-transform: uppercase;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

ul {
    background-color: dimgray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    list-style-type: none;
    margin-top: 0px;
    padding: 5px;
    font-size: 12px;   
}
    
li {
    display: inline;
    padding: 20px;
}
    
li a {
    text-decoration: none;
    color: white;
}
   
    .image {
    background-image: url(https://images.genius.com/8f77c1916e83df03eb0b9194aaffbd9f.1000x1000x1.png);
    background-position: center;
    background-size: cover;
    position: static;
    width: auto;
    height: 130px;
    border: 60px;
    padding: 100px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 40px;
}

    .photo {
    float: right;
    position: static;
    margin-right: 10px;
}

    .top-left {
    position: static;
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(247, 243, 12);
    font-family: sans-serif;
}
    
    .center-left {
    position: static;
    font-size: 30px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
}
    
    .bottom-left {
    position: static;
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
    margin-top: 20px;
}
    
    .row {
    display: flex;
    justify-content: fle;
    margin-left: 150px;
    margin-right: 50px;
} 
    
    .column {
    flex: 50%;
    padding: 10px;
    height: 300px;
}
    
h2 {
    background-color: rgb(247, 243, 12);
    color: gray;
    display: inline;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
}
    
div.p {
    color: rgb(32, 31, 31);
    font-family: monospace;
    border-left: solid;
    border-left-color: rgb(247, 243, 12);
    border-width: medium;
    padding-left: 20px;
    padding-top: 20px;
    font-family: monospace;
    font-size: 15px;
    letter-spacing: -1px;
}
   
div.a {
    background-color: dimgray;
    color: white;
    font-family: monospace;
    padding: 20px;
    margin-top: 0px;
    display: inline-block;
    text-align: left;
    font-size: 15px;
}

div.b {
    border-bottom: 5px solid white;
}

    .vid {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid white;
    padding: 20px;
    padding-top: 0px;
}

    .footer{
    width: 300px;
    text-align: right;
    font-size: 10px;
}

